* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fuente-texto-secundario);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  width: 100%;
  background: var(--bg-secondary);
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
